<%= form_with(model: [:question, answer], local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label(:short_answer, @question.short_answer_label || "Short Answer") %>
    <%= form.text_field(:short_answer, class: 'form-control', placeholder: @question.short_answer_placeholder) %>
  </div>

  <div class="form-group">
    <%= form.label(:short_answer, @question.answer_label || "Answer") %>
    <%= form.text_area(:answer, class: 'form-control') %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
