<%= form_with(model:[:admin, question]) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label(:question, "Question") %>
    <%= form.text_area(:question, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= form.label(:short_answer_label, "Short Answer Label") %>
    <%= form.text_field(:short_answer_label, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= form.label(:short_answer_placeholder, "Short Answer Placeholder") %>
    <%= form.text_field(:short_answer_placeholder, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= form.label(:answer_label, "Short Answer Label") %>
    <%= form.text_field(:answer_label, class: 'form-control') %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
