<div class="">
  <p class="lead">
    <%= @question.question %>
  </p>
  <br />
  <p>
    <strong>Short Answer Placeholder:</strong>
  </p>
  <p>
    <%= @question.short_answer_placeholder %>
  </p>
  <p>
    <strong>Explanation:</strong>
  </p>
  <p>
    <%= @question.explanation %>
  </p>
</div>

<%= link_to 'Edit', edit_admin_question_path(@question) %> |
<%= link_to 'Back', admin_questions_path %>
